body {
  /* font-family: Arial; */
  height: 100%;
}

#mapid {
  background: #CCC;
  position: absolute;

  top: 5.5%;
  bottom: 0px;
  left: 0;

  width: 75%;
}

#right {
  background-color: #6c757d;
  color: #fff;
  position: absolute;

  top: 5.5%;
  right: 0px;
  bottom: 0px;

  width: 25%;
}

#incidents, #requests {
  margin: 7px 15px;
}

ul {
  
}

#PedidosSelect {
  overflow: auto;
  width: 150px;
}

#DirectionsListOrigen, #DirectionsListDestino {
  overflow: auto;
  width: 100%;
  display: none; /* Inicialmente los escondemos */
}

/* span {
  color: red;
} */

.direction-list {
  width: auto;
}


/*test*/
.unit-input {
  border: #DFDFDF solid 1px;
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  font-family: sans-serif;
  width: 10em;
}

.unit-input__input {
  border: 0;
  padding: .5em;
  font-size: 1em;
  width: 100%;
}

.unit-input__input:focus {
  background: #EDFFFB;
  outline: none;
}

.unit-input__append {
  background: #F4F4F4;
  padding: .5em;
  border: #DFDFDF solid 0;
  flex-grow: 0;
}

.unit-input__append {
  border-left-width: 1px;
}