body {
    background-color: #ededed;
    font-family: 'Titillium Web', sans-serif;
}


/**--Formulario--**/

body #content {
    margin: auto;
}

#content {
    background-color: #ffffff;
    height: 100%;
    width: 800px;
    padding: 20px;
}

#form-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#form-title h2 {
    font-size: 30px;
}

.form-group {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group label {
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 5px;
}

.form-group input {
    margin-bottom: 5px;
}

.form-group,
.form-control {
    margin-bottom: 15px;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.direction-list {
    width: auto;
}

.listar-repartidores {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#DirectionsListOrigen,
#DirectionsListDestino {
    overflow: auto;
    width: 100%;
    display: none;
    /* Inicialmente los escondemos */
}


/*test*/

.unit-input {
    border: #DFDFDF solid 1px;
    display: inline-flex;
    border-radius: 4px;
    overflow: hidden;
    font-family: sans-serif;
    width: 10em;
}

.unit-input__input {
    border: 0;
    padding: .5em;
    font-size: 1em;
    width: 100%;
}

.unit-input__input:focus {
    background: #EDFFFB;
    outline: none;
}

.unit-input__append {
    background: #F4F4F4;
    padding: .5em;
    border: #DFDFDF solid 0;
    flex-grow: 0;
}

.unit-input__append {
    border-left-width: 1px;
}


/* Mapa */

#map {
    width: 740px;
    height: 400px;
    background: #CCC;
}


/* Calculo del peso */

#calculo {
    padding-left: 50px;
}

#calculo button {
    width: 100px;
    height: 45px;
}