.title {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#mapid {
    background: #CCC;
    position: absolute;
  
    top: 5.5%;
    bottom: 0px;
    left: 0;
  
    width: 75%;
}

#right {
    background-color: #6c757d;
    color: #fff;
    position: absolute;
  
    top: 5.5%;
    right: 0px;
    bottom: 0px;
  
    width: 25%;
}

#PedidosSelect {
    overflow: auto;
    width: 100%;
}

#PedidosSelect option {
    padding: 10px;
}

#types {
    list-style: none;
    padding-left: 0px;
}

#types li {
    padding: 5px;
    position: relative;
    padding-left: 20px;
}

#types li::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url("../assets/images/incident-icon-5.jpg");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#incidents, #requests {
    margin: 7px 15px;
}