body {
    background-color: #ededed;
    font-family: 'Titillium Web', sans-serif;
}


/**--Formulario--**/

body #content {
    margin: auto;
}

#content {
    background-color: #ffffff;
    height: 100%;
    width: 800px;
    padding: 20px;
}

#form-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#form-title h2 {
    font-size: 30px;
}

.form-group {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group label {
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 5px;
}

.form-group input {
    margin-bottom: 5px;
}

.form-group,
.form-control {
    margin-bottom: 15px;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.listar-repartidores {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


/** LISTADO DE LOS REPARTIDORES **/

#listado-repartidores,
.lista,
.lista-info {
    height: 500px;
}

#listado-repartidores {
    background-color: cadetblue;
}

.lista,
.lista-info {
    height: 500px;
}

.lista h4 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background: grey;
}

.lista {
    float: left;
    width: 25%;
    background-color: black;
}

.lista-info {
    float: right;
    width: 75%;
    background-color: lightgrey;
}

.lista ul li {
    color: white;
    margin-bottom: 15px;
}


/** FOOTER **/

.barra {
    width: 100%;
    height: 40px;
    background-color: #343a40;
}